<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="userAuth">
    
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form ng-controller="AuthController as authCtrl" ng-submit="authCtrl.login();">
            <div class="form-group">
              <h3>Login</h3>
              <p>{{authCtrl.error}}</p>
              <input ng-model="authCtrl.user.username" class="form-control" type="text" placeholder="Username">
            </div>
            <div class="form-group">
              <input ng-model="authCtrl.user.password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default login">Login</button>
          </form>
        </div>
      </div>  
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/app/controllers/authController.js"></script>
  </body>

</html>