<!--Post a new message/twit-->
<form ng-submit="addPost();">
  <h3>What's on your mind?</h3>
  <h4>{{current_user}} says</h4>
  <div class="form-group">
    <textarea ng-model="newPost.text" class="form-control twitBox"></textarea>
  </div>
  <button type="submit" class="btn btn-default sendTwit">Send Twit!</button>
</form>

<!-- News Feed -->
<div class="row">
  <div class="col-md-12 postContainer" ng-repeat="post in posts">
    <h3>Chirp Feed</h3>
    <p>{{post.created_by + " says:"}}</p>
    <p>{{post.text}}<span class="pull-right">{{post.created_at | date: "MMM dd, yyyy " + "@ " + "h:mma"}}</span></p>
  </div>
</div>